/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
	background-color:black;
}

h1 {font-family: "cheddar-gothic-rough", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 100px;
color: white
}

.big{font-size: 150px;
}

h2 {font-family: "bebas-neue", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 75px;
color: white
}
h3 {font-family: "bebas-neue", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
color: white
}
h4 {font-family: "bebas-neue", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 40px;
color: white}

p {font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
color: white
}
li {font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
color: white}

td {font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;
color: white}

.bebas-neue {font-family: "bebas-neue", sans-serif;
font-weight: 400;
font-style: normal;}


/* Changing the background colour for the header */

header {
	background-color: #00000;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.purple-shadow {
	text-shadow: -.01em -.01em .01em #350f92
		,.02em .02em .02em #350f92
		,0 0 .2em #350f92
		,0 0 .5em #350f92;
}

.logo-size{ style: "width:500px;height:600px;"
}

.black-text {color: black}

.yellow-text{color: #fae34d
}
.purple-text{color:#350f92
}
.background-g {background-color: #424141
}
.background-p{background-color:#350f92
}
.background-y{background-color:#fae34d
}
.background-b{background-color: black;
}

.mt-0 {
  margin-top: 0 !important;
}


